* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Arial';
	transition: .2s;
}
body {
	background: #fff; 
}
a{
	color: #FF7CAE;
	text-decoration: none;
}
button {
	background: #fff;
	border: none;
	border-radius: 4px;
	color: #fff;
	padding: 8px 12px;
	color: #FF7CAE;
	cursor: pointer;
	box-shadow: 0 0 8px #ccc, 0 0 0 1px #bbb;
}
button:hover {
	color: #fff;
	box-shadow: 0 0 0 1px #FF7CAE;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffcedd+1,ff89ae+50,ff89ae+50,ff6b99+51,ff1664+100 */
	background: #ffcedd; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffcedd 1%, #ff89ae 50%, #ff89ae 50%, #ff6b99 51%, #ff1664 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffcedd), color-stop(50%,#ff89ae), color-stop(50%,#ff89ae), color-stop(51%,#ff6b99), color-stop(100%,#ff1664)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffcedd 1%,#ff89ae 50%,#ff89ae 50%,#ff6b99 51%,#ff1664 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffcedd 1%,#ff89ae 50%,#ff89ae 50%,#ff6b99 51%,#ff1664 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffcedd 1%,#ff89ae 50%,#ff89ae 50%,#ff6b99 51%,#ff1664 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffcedd 1%,#ff89ae 50%,#ff89ae 50%,#ff6b99 51%,#ff1664 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcedd', endColorstr='#ff1664',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(#FF7CAE,#FF3278);
}
